* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body, #root {
  height: 100%;
  width: 100%;
}

body {
  font-family: system-ui, Arial, sans-serif;
  background: transparent;
}


#root {
  display: flex;
  flex-direction: column;
}
